<%= render "shared/flashes" %>
<%= form_with(model: habit, class: "contents") do |form| %>
  <div class="flex">
    <%= form.label :name, class: "" %>
    <%= form.text_field :name, class: "ml-2 block shadow rounded-md border border-gray-200 outline-none" %>
    <%= form.submit class: "ml-2 rounded-2xl py-2 px-5 bg-purple-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <% if habit.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
