<h2 class="my-4 text-center text-accent italic text-3xl">Get it done!</h2>
<h1 class="my-4 text-4xl font-black text-center text-secondary">Your Daily Habits</h1>
<div data-controller="sort-order" class="mb-4 flex items-center justify-between">
  <div class="flex">
    <%= form_tag habits_path, method: :get, class: "" do %>
      <%= label_tag :sort_by, "Sort:", class: "whitespace-nowrap mr-2 font-medium text-secondary" %>
      <% select_options = [
            ['Date Created', 'created'],
            ['Streak Length', 'streak'],
            ['Record Length', 'record'],
            ['Last Completed', 'done']
          ] %>
      <%= select_tag :sort_by, options_for_select(select_options, @sorted_by), class: "border border-secondary text-secondary text-sm rounded-sm focus:ring-accent", onchange: 'this.form.submit()' %>
    <% end %>
    <button class="ml-2 cursor-pointer text-secondary hover:text-secondary-600" data-sort-order-target="icon" data-action="click->sort-order#reverse">
      <i class="fa fa-sort"></i>
    </button>
  </div>
  <div>
    <button
            class="py-2 px-4 rounded-sm bg-secondary text-white font-medium self-center hover:bg-secondary-600"
            data-toggle-edit-target="button"
            data-action="click->toggle-edit#toggle">
      <i class="fa fa-eye"></i> Show options
    </button>
    <button
            class="py-2 px-4 rounded-sm bg-secondary text-white font-medium self-center hover:bg-secondary-600"
            data-toggle-new-target="button"
            data-action="click->toggle-new#toggle">
      <i class="fa fa-plus"></i> New Habit
    </button>
  </div>
</div>
<%= render "shared/flashes" %>
<%= render "habits/new", habit: @habit %>
<div class="mx-auto" data-controller="edit-name">
  <% @habits.each do |habit| %>
    <%= render "habits/show", habit: habit %>
  <% end %>
</div>
